@font-face {
    font-family: "Oswald";
    font-weight:200 700;
    font-display: auto;
    src: 
    url("./fonts/Oswald/Oswald-VariableFont_wght.ttf") format("opentype");
    
}
@font-face {
    font-family: "RobotoCondensed";
    font-weight:100 900;
    font-display: auto;
    src: 
    url("./fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf");
    
}
@font-face {
    font-family: "RobotoSlab";
    font-weight:100 900;
    font-display: auto;
    src: 
    url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
    
}
@font-face {
    font-family: "Savate";
    font-weight:200 900;
    font-display: auto;
    src: 
    url("./fonts/Savate/Savate-VariableFont_wght.ttf");
    
}
@font-face {
    font-family: "WDXLubriJPN";
    font-weight:400;
    font-display: auto;
    src: 
    url("./fonts/WDXL_Lubrifont_JP_N/WDXLLubrifontJPN-Regular.ttf");
    
}

:root{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size:1.2vh;

    --font-family: "Oswald","RobotoCondensed","RobotoSlab","Savate","WDXLubriJPN";
    --font-small:clamp(0.15rem,1.5vw,1rem);
    --font-med:clamp(0.25rem,2.5vw,2rem);
    --font-large:clamp(0.5rem,3.5vw,3rem);


    @media(max-height:500px){
        font-size: 2vh;
    }

    @media(max-width:500px){
        font-size:2vw;
    }
}

p{
    font-family: "Oswald";
}

body{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}

.main-container{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.dash-container{
    flex: 1;
    background-color: rgb(77, 202, 98);
    height:100%;
    min-width:25%;
    justify-items: center;

    @media (max-width:350px){
        min-width:30%;
    }
}

.content-container{
    flex:5;
    background-color: blue;
    height: 100%;
    min-width:75%
}

/* Header */

.dash-header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}

.dash-header p{
    font-size:var(--font-large);
    font-weight: 700;
}

/* Icons */

        /* Had to test different values until I was happy with them */
        /* I tested these MAINLY on how they looked using the google dev device toolbar and then */
.headerIcon{
    width:8vw;
    height:8vh;
}

.icon{
    display: flex;
    width:4vw;
    height:4vh;
    align-self: center;
    justify-self: start;
}

/* Sidebar */

.dash-selectIcon{
    display:grid;
    grid-template: repeat(6,1fr) 0.5fr repeat(3,1fr)/1fr;
    
    justify-items: center;
    height:50%;
    width:100%;
}

.dash-selector{
    display: grid;
    grid-template:1fr/1fr 3fr;
    width:60%;
    justify-content: center;
    margin-bottom:2%;
}

.dash-selector p {
    font-size: var(--font-med);
    align-self: center;
    margin:0;
    margin-left:5%;

    @media (max-width:400px){
        font-size: var(--font-large);
    }
}

.dash-spacer{
    height:3vh;
}

/* Main Dashboard */
.content-container{
    display: grid;
    grid-template: 1fr 6fr/ 1fr;
}

.content-header{
    display:grid;
    grid-template:1fr/ 4fr 1fr;
    background-color: red;
}

.profile{
    display:grid;
    grid-template: 1fr/1fr 2fr ;

    @media(max-width:1450px){
        grid-template: 1fr/1fr 1fr;
    }
}

.profile img{
    width: 10rem;
    height:10rem;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.profile p{
    font-size: var(--font-large);
    justify-self: center;
    align-self: center;

    @media (max-width:2000px){
        justify-self: start;
    }
}

.content-main{
    background-color: aqua;
}

